.button {
  width: 140px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: var(--text-color);
  font-family: var(--font);
  font-weight: 700;
  font-size: var(--normal-font-size);
  background-color: transparent;
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
  margin: var(--margin-sections);
}

.button--static {
  border: var(--button-primary) solid 2px;
}

.button--static:hover {
  background: linear-gradient(90deg, var(--button-primary), var(--main-bg-color), var(--secondary-bg-color));
}

.buttons{
  display: flex;
}
